@{
    ViewData["Title"] = "Home Page";
}
<style>
    .formdiv {
        width: 100%;
        height: 40px;
        display: block;
    }

    .left {
        float: left;
    }

    .right {
        float: left;
        margin-left: 10px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">拼单满减</h1>
    <form method="post" target="_blank" enctype="multipart/form-data" asp-controller="Home" asp-action="UpLoadFile">
        <div class="form-group" style="width: 500px; height: 155px; margin: auto; margin-top: 30px">
            <div class="col-md-10 formdiv">
                <a asp-controller="Home" asp-action="DownTemplate" download="满减模板.xlsx">模板下载</a>
            </div>
            <div class="col-md-10 formdiv">
                <p class="left">文件上传:</p>
                <input class="right" type="file" name="files">
            </div>

            <div class="col-md-10 formdiv">
                <p class="left">拼单金额:</p>
                <input class="right" type="text" name="amount" value="300" \>
            </div>

            <div class="col-md-10 formdiv">
                <p class="left">金额溢出阈值:</p>
                <input class="right" type="text" name="minNum" value="10" \>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="获取结果">
            </div>
        </div>
    </form>
</div>
